* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 20px;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
}

.menu a:hover {
    background-color: #555;
    border-radius: 4px;
    transform: scale(1.1);
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px; /* Largura máxima do card */
    overflow: hidden; /* Para esconder bordas */
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}

.card-image {
    width: 100%; /* Imagem ocupa 100% da largura do card */
    height: auto; /* Mantém a proporção da imagem */
}

.card-content {
    padding: 20px;
    text-align: center; /* Centraliza o texto */
}

.card-content h2 {
    font-size: 24px; /* Tamanho do título */
    margin-bottom: 10px; /* Espaço abaixo do título */
}

.card-content p {
    font-size: 16px; /* Tamanho da descrição */
    margin-bottom: 20px; /* Espaço abaixo da descrição */
}

.card-button {
    display: inline-block; /* Para tornar o link como um bloco */
    background-color: #333; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaço interno do botão */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remove sublinhado */
    transition: background-color 0.3s; /* Transição suave na mudança de cor */
}

.card-button:hover {
    background-color: #555; /* Cor do botão ao passar o mouse */
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}