* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(32, 3, 51);
    color: black;
}

nav {
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 20px;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
}

.menu a:hover {
    background-color: #555;
    border-radius: 4px;
    transform: scale(1.1);
}

#title{
    display: flex;
    justify-content: center;
    padding: 40px;
    color: rgb(243, 167, 243);
    font-family: perpetua;
    font-size: 20px;

}

.dev-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.developer {
    border: 3px solid purple;
    border-radius: 5px;
    padding: 15px;
    background-color: #f0f8ff;
    transition: transform 0.3s;
    width: 300px;
    height: 100px;
}

.developer:hover {
    transform: scale(1.05);
}

h2 {
    margin: 0 0 10px;
}

#title2{
    display: flex;
    justify-content: center;
    padding: 40px;
    color: rgb(243, 167, 243);
    font-family: perpetua;
    font-size: 20px;

}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    
}